
*.tags

.codelite/.tern-port

.codelite/.tern-project

.codelite/compilation.db

.codelite/refactoring.db

.codelite/vol2bird.session

pyvol2bird/.dep/

example

hello.tgz

lib/libvol2bird.so

lib/vol2bird

pyvol2bird/_vol2bird.so

pyvol2bird/libvol2bird.so

/**/*.pyc

